@import 'styles/theme';

.auth {
  &.container {
    user-select: none;
    margin-top: 6em;
    min-height: 300px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
    background-color: $alignment-helper;
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 30em;
    height: auto;
    font-size: 2vh;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  &.field {
    display: flex;
    border: black;
    flex-direction: column;
    justify-content: center;
  }
  &.input {
    height: 5vh;
    padding-left: 15px;
    border-radius: 2.5vh;
    margin-bottom: 30px;
    color: $textColor;
  }
  &.label {
    color: $textColor;
    margin-bottom: 1.5vh;
    font-weight: bold;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 0.5vh;
  }
  &.profile-dropdown{
    height: 5vh;
    padding-left: 15px;
    border-radius: 2.5vh;
    margin-bottom: 30px;
    color: $textColor;
  }
}