@import 'styles/theme';

.header {
  &.container {
    //background-color: aquamarine;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    min-height: 14vh;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &.placeholder {
    width: 35%;
  }

  &.title {
    position: center;
    font-weight: bolder;
    font-size: 5.5vh;
    font-style: italic;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.button-box {
  //background-color: mediumpurple;
  display: flex;
  width: 35%;
  flex-direction: row;
  justify-content: end;
}

.button-team {
  //background-color: pink;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #F5F5F5;
  padding-right: 1.5vh;
  padding-left: 2vh;
  padding-top: 0.75vh;
  padding-bottom: 0.75vh;
  border-radius: 1.5vh
}

.label-box {
  display: flex;
  flex-direction: column;
  padding-right: 1.5vh;
}

.button-label {
  font-size: 1.5vh;
}

.button-label2 {
  font-size: 1.7vh;
  font-weight: bold;
}

.button-logout {
  //background-color: green;
  padding-left: 20px;
  display: flex;
  align-items: center;
}