@import 'styles/theme';

.header {
  &.container {
    @include center;
    padding-top: 10px;
    margin-bottom: 20px;
    background-color: $alignment-helper;
  }

  &.title {
    font-weight: bolder;
    font-size: 50px;
    font-style: italic;
    text-align: center;
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &.team {
    font-weight: bolder;
    font-size: 13px;
    text-align: center;
    position: absolute;
    right: 350px;
  }

  &.button {
    position: absolute;
    right: 200px;
  }
}