@import "styles/theme";

.team {
  &.container {
    &:hover {
      transform: translateY(-3px);
      opacity: 0.4;
    }
    //min-height: 150px;
    margin-bottom: 1.5%;
    background-color: #F5F5F5 ;
    padding-top: 1.5%;
    border-radius: 20px;
  }
  &.name {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 24px;
  }

  &.member-list {
    flex-direction: row;
    display: flex;
  }

  &.member {
    &.container2 {
      &:hover {
        transform: none;
        opacity:100;
      }
      //background: aqua;
      width: 12.5%;
      display: flex;
      align-items: center;
      margin-right: 2%;
      margin-bottom: 10px;
      flex-direction: column;
    }
  &.icon{
    display: flex;
    justify-content: center;

  }

    &.icon img{
      width: 80%;
      height: auto;
      margin-bottom: 16px;
      align-self: center;
    }

    &.username{
      font-weight: bolder;
      padding-bottom: 6px;
    }
    &.email {
      color: grey;
      font-size: 12px;
      padding-bottom: 8px;
    }

    &.admin {
      font-weight: bolder;
      font-size: 12px;
      margin-bottom: 6px;
      color: white;
      background-color: #648DFF;
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 6px;
      padding-right: 6px;
      border-radius: 10px;
    }
  }
}