@import "styles/theme";

.team {
  &.container {
    min-height: 150px;
    margin-bottom: 24px;
    //background-color: lightgrey;
  }
  &.name {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 24px;
  }

  &.member-list {
    flex-direction: row;
    display: flex;
  }

  &.member {
    &.container {
      //background: aqua;
      width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 25px;
      flex-direction: column;
    }
  &.icon{
    display: flex;
    justify-content: center;

  }

    &.icon img{
      width: 80%;
      height: auto;
      margin-bottom: 16px;
      align-self: center;
    }

    &.username{

    }
    &.email {
      font-weight: bolder;
    }
  }
}