@import "styles/theme";

.team {
  &.container {
    min-height: 150px;
    margin-bottom: 24px;
  }
  &.name {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 24px;
  }

  &.member-list {
    flex-direction: row;
    display: flex;
  }

  &.member {
    &.container {
      background: aqua;
      width: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 25px;
      flex-direction: column;
    }

    &.icon {
      width: 150px;
      height:150px;
      margin-bottom: 25px;

    }
    &.username{

    }
    &.email {
      font-weight: bolder;
    }
  }
}