@import 'styles/theme';

.secondary-button {
  &:hover {
    transform: translateY(-2px);
  }
  &:disabled {
    cursor: default;
    &:hover {
      transform: none;
      opacity: 0.4;
    }
  }
  user-select: none;
  margin: 0.75vh;
  margin-left: 1.5vh;
  width: fit-content;
  padding: 0.75vh 1.6vh;
  font-weight: bold;
  font-size: 1.5vh;
  text-align: center;
  height: 4vh;
  border-radius: 2vh;
  color: $gradient;


  border: solid 3px transparent;
  background-image: $gradient;
  background-origin: border-box;
  box-shadow: 2px 1000px 1px #fff inset;

  cursor: pointer;
  opacity: 1;
  transition: all 0.3s ease;
}


