@import 'styles/theme';

.primary-button {
  &:hover {
    transform: translateY(-2px);
  }
  &:disabled {
    cursor: default;
    &:hover {
      transform: none;
      opacity: 0.4;
    }
  }
  margin-top: 0.75vh;
  margin-bottom: 0.75vh;
  margin-left: 1.5vh;
  width: fit-content;
  padding: 0.75vh 1.6vh;
  font-weight: bold;
  font-size: 1.5vh;
  text-align: center;
  height: 4vh;
  border-radius: 2vh;
  border: none;
  cursor: pointer;
  color: white;
  background-image:$gradient;
  opacity: 1;
  transition: all 0.3s ease;
}


