@import 'styles/theme';

.primary-button {
  &:hover {
    transform: translateY(-2px);
  }
  &:disabled {
    cursor: default;
    &:hover {
      transform: none;
      opacity: 0.4;
    }
  }
  margin: 5px;
  width: fit-content;
  padding: 6px 20px;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  height: 40px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  background-image:$gradient;
  opacity: 1;
  transition: all 0.3s ease;
}


