@import 'styles/theme';

.navigation-button-container {

  &.container {
    //background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
  }

  &.title {
    font-weight: bolder;
    font-size: 1.9vh;
  }

}